.bd-filter-listing {
  padding-left: 15px;
  background-color: $bg-input;
  border: solid;
  border-color: $text-secondary;
  border-width: 1px;
  color: $text-primary;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  input {
    border: none;
    background-color: transparent;
    color: $text-secondary;
    width: 100%;
    margin-left: 15px;

    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    &:focus {
      outline: none;
    }
  }
  .bd-icon-container {
    background-color: transparent;
    gap: 20px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    .bd-filter-icon {
      cursor: pointer;
      height: 24px;
      width: 24px;
      path {
        stroke: $text-primary;
      }
      &:hover {
        path {
          stroke: $color-primary;
        }
      }
    }
    .bd-search-icon {
      cursor: pointer;
      height: 56px;
      width: 65px;
    }
  }
}
.bd-select-container {
  display: flex;
  align-items: center;
  border-right: solid 1px $text-secondary;
  height: 56px;
}
