.btn-tertiary {
  background-color: $bg-color;
  color: $color-primary;
  border-width: 1px;
  border: solid;
  border-radius: 5px;
  border-color: $text-secondary;
  padding: 15px 20px;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  width: auto;
  &:hover {
    border-color: $color-primary;
  }
  &:focus {
    outline: none;
  }
}

.btn-primary {
  background-color: $color-primary;
  color: $text-tertiary;
  border: $bg-color;
  border-radius: 5px;
  border-width: 1px;
  border: solid;
  padding: 15px 20px;
  text-align: center;
  width: 100%;
  cursor: pointer;
  white-space: nowrap;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  &:hover {
    background-color: $bg-color;
    color: $color-primary;
  }
  &:focus {
    outline: none;
  }
}

.bd-back-btn {
  color: $color-primary;
  display: flex;
  align-items: center;
  justify-content: start;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  cursor: pointer;
  a {
    text-decoration: none;
    color: $color-primary;
  }
}
