.bd-cat-select {
  border: none;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  padding-right: 20px;
  margin-right: 20px;
  color: $text-primary;
}
.bd-select-option {
  color: red;
}
