.bd-title {
  color: $text-primary;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
.bd-title-light {
  color: $text-primary;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 29px;
  text-align: center;
}
.bd-sub-title {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  text-align: center;
  white-space: nowrap;
  &_light {
    color: $text-secondary;
  }
  &_dark {
    color: $text-primary;
  }
}

.bd-price-title {
  color: $text-primary;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 57px;
}

.bd-text-align-center {
  text-align: center;
}

.bd-title-main {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 57px;
  /* identical to box height, or 89% */
  text-transform: capitalize;
  color: $text-primary;
}

.bd-title-welcome {
  color: $text-primary;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 57px;
}
