// Defualt Colors
// ===================================
$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-tertiary: var(--color-tertiary);
$text-primary: var(--text-primary);
$text-secondary: var(--text-secondary);
$text-tertiary: var(--text-tertiary);
$links-color: var(--links-color);
$bg-color: var(--bg-color);
$bg-focus: var(--bg-focus);
$bg-input: var(--bg-input);
$bg-nav: var(--bg-nav);
$bg-attention: var(--bg-attention);
$bg-accent: var(--bg-accent);
$color-rating: var(--color-rating);
$color-footer: var(--color-footer);
$color-warning: var(--color-warning);
