.bd-color-pallete-container {
  display: flex;
}
.bd-pallete-color {
  content: " ";
  width: 57px;
  height: 39px;
  &_1 {
    background-color: green;
  }
  &_2 {
    background-color: red;
  }
  &_3 {
    background-color: blue;
  }
  &_4 {
    background-color: black;
  }
}
